
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnderMaintenance</title>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href='~/webassets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/webassets/css/style.css" rel="stylesheet">
    <link href="~/webassets/css/responsive.css" rel="stylesheet">
    <link href="~/webassets/css/night-mode.css" rel="stylesheet">
    <link href="~/webassets/css/step-wizard.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/cssn/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/lib.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/so_searchpro.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/so_megamenu.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/so-categories.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/so-listing-tabs.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/themecss/so-newletter-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/footer/footer2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/header/header2.css")" />
    <link rel="stylesheet" id="color_scheme" href="@Url.Content("~/cssn/home2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/cssn/responsive.css")" />
    <!-- Vendor Stylesheets -->
    <link href="~/webassets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/webassets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/webassets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/webassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/webassets/vendor/semantic/semantic.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <style>
        .mm1 {
            margin-top: 200px !important;
            margin-left: 100px;
        }

        .mm2 {
            margin-left: 100px;
        }

        .mm3 {
            margin-top: 50px;
        }

        @@media only screen and (max-width:767px) {
            .mm2 {
                margin-left: 20px;
            }

            .mm1 {
                margin-top: 20px !important;
                margin-left: 20px;
            }

            .mm3 {
                margin-top: 3px !important;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="height:100px;"></div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="background:#f5f5f5;height:800px;">
                <div class="row">
                    <div class="col-sm-6" style="height:800px;">
                        <p class="mm1" style="font-size:45px;font-weight:bold;">Sorry! We are Under Maintenance</p>
                        <p class="mm2" style="font-size:15px;"> Our website is currently under construction. We appreciate your patience.</p>
                        <p class="mm2" style="font-size:15px;"> Our website is temporarily down for maintenance. We'll be back soon.</p>
                        <p class="mm2" style="font-size:15px;">Our website is currently undergoing maintenance. Thank you for your patience.</p>
                        <br /><br />
                        <p class="mm2" style=" font-size: 16px; font-weight: bold;">Get the info after the update is complete</p>
                        <button class="btn" style="background: #fa2365; margin-left: 100px;"><a href="#" style="font-size:19px;">More Information</a></button>
                    </div>
                    <div class="col-sm-6" style="height: 750px; background :#f5f5f5;">
                        <img src="~/Content/img/ttt1.png" height="650" class="mm3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

